<h2 id="current-setup">Current Grows</h2>
<div>
    <ul>
      {% for plant in site.data.grows %}
          {%- if plant.harvestDate == nil -%}
          {% capture sowDate %}{{plant.sowDate | date: "%j"}}{%end capture%}
            <li class="growbox">
            <strong>{{ plant.seed }}</strong>
            <p>Current Day: {{ "now" | date: "%j" | minus sowDate }} </p>
            <p>Sow Date: {{ plant.sowDate | date: "%m/%d/%Y" }}</p>
          </li>
          {%- endif -%}
      {% endfor %}
    </ul>
</div>

