<h1 id="current-setup">Current Setup</h1>
<h2> Hardware </h2>
<ul>
  {% for equipment_hash in site.data.equipment %}
    {%- for equipment in equipment_hash -%}
      {%- if equipment.status == "current" -%}
      <li>
        <a href="{{equipment.link}}">{{ equipment.name }}</a>
      </li>
      {%- endif -%}
    {%- endfor -%}
  {% endfor %}
</ul>

<h2>Organics</h2>
<h3>Seeds</h3>
<ul>
  {% for seed_hash in site.data.seeds %}
    {%- for seed in seed_hash -%}
      {%- if seed.status == "current" -%}
      <li>
        <a href="{{seed.link}}">{{ seed.name }}</a>
      </li>
      {%- endif -%}
    {%- endfor -%}
  {% endfor %}
</ul>

<h3>Media</h3>
<ul>
  {% for media_hash in site.data.media %}
    {%- for media in media_hash -%}
      {%- if media.status == "current" -%}
      <li>
        <a href="{{media.link}}">{{ media.name }}</a>
      </li>
      {%- endif -%}
    {%- endfor -%}
  {% endfor %}
</ul>

<h3>Amendments & Nutrients</h3>
<ul>
  {% for amendments_hash in site.data.amendments %}
    {%- for amendment in amendments_hash -%}
      {%- if amendment.status == "current" -%}
      <li>
        <a href="{{amendment.link}}">{{ amendment.name }}</a>
      </li>
      {%- endif -%}
    {%- endfor -%}
  {% endfor %}
</ul>