{%- assign plants = site.data.grows | sort: 'sowDate' -%}
<h2>Current Grows</h2>
<div id="growrow" class="flex-container">
  {% for plant in plants %}
      {%- if plant.harvestDate == nil -%}
        {% capture sowDate %}{{plant.sowDate | date: "%j"}}{% endcapture %}
        {%- capture currentDay -%}{{ "now" | date: "%j"}}{%- endcapture -%} 
          <div class="growbox">
            <h4>{{ plant.seed }}</h4>
            <div class="daybox">
            {%- if currentDay < sowDate -%}
            <i class="day">Day:</i><strong class="currentDay">{{currentDay | minus: sowDate | plus:365}}</strong>
            <span class="weekHover">week:{{ currentDay | divided_by: 7 }}</span>
            {%- else -%}
            <i class="day">Day:</i><strong class="currentDay">{{currentDay | minus: sowDate}}</strong>
            <span class="weekHover">week:{{ currentDay | divided_by: 7 }}</span>
            {%- endif -%}

            </div>
            <div class="sown">Sown: {{ plant.sowDate | date: "%m/%d/%y" }}</div>
          </div>
        {%- endif -%}
  {% endfor %}
</div>

