{%- assign plants = site.data.grows | sort: 'sowDate' -%}
{%- assign plantCount = plants | size -%}
{% assign count = plantCount %}
{% assign seeds = site.data.seeds | sort: 'seedID' %}
{% capture today %}{{ "now" | date: "%s" | divided_by: 86400}}{% endcapture %}
{%- comment -%}86400 is the # of seconds in a day{%- endcomment -%}      
<div id="growbox">
  <div id="growrow" class="flex-container">
    <div class="growTitlebox">
      <h1>Current Grows</h1>
    </div>
    {% for plant in plants %}
      {%- if plant.harvestDate == nil and plant.sowDate != nil -%}
      {%- capture count -%}{% increment count %}{%- endcapture -%}
      {% assign seedNum = plant.seedID %}
      {% assign plantName = plant.seed %}
      {% assign seed = seeds.[seedNum] %}
      {% assign seedType = seeds.type %}
          {% capture sowDate %}{{plant.sowDate | date: "%s" | divided_by: 86400}}{% endcapture %}
          {% capture flipDate %}{{plant.flipDate | date: "%s" | divided_by: 86400}}{% endcapture %}
          {% capture currentDay -%}{{today | minus: sowDate}}{%- endcapture %} 
            <div class="plantbox">
              {% if seed.link != nil %}
                <a href="{{seed.link}}" target="_blank"><h4>{{ plantName }}</h4></a>
                {% else %}
                <h4>{{ plantName }}</h4>
                {% endif %}
                {%- if flipDate == nil -%}
                {% capture currentDay -%}{{today | minus: sowDate}}{%- endcapture %} 
                <div class="daybox">
                  <i class="day">Day:</i><strong class="currentDay">{{currentDay}}</strong>
                  {%- if seedType == "photo" -%}
                    <div class="stage"> of Veg </div>
                  {%- endif -%}
                  <div class="weekHover">week:{{ currentDay | divided_by: 7 }}</div>
                  <div class="sown">Sown: {{ plant.sowDate | date: "%m/%d/%y" }}</div>
                </div>
                {%- else -%}
                {% capture currentDay -%}{{today | minus: flipDate}}{%- endcapture %} 
                  <div class="daybox">
                  <i class="day">Day:</i><strong class="currentDay">{{currentDay}}</strong>
                  <div class="weekHover">week:{{ currentDay | divided_by: 7 }}</div>
                  <div class="stage">of Flower</div>
                  <div class="flipped">Flip: {{ plant.flipDate | date: "%m/%d/%y" }}</div>
                </div>
                {%- endif -%}
              </div> 
      {%- endif -%}         
    {% endfor %}
    {%- if plantCount == count -%}
      <p> Nothing is currently growing, check back soon. </p>
    {%- endif -%}
  </div>
</div>