<h2 id="current-setup">Current Setup</h2>
<h3> Hardware </h3>
<ul>
  {% for equipment in site.data.equipment %}
      {%- if equipment.status == "current" -%}
      <li>
        <strong>{{ equipment.type }}: </strong><a href="{{equipment.link}}">{{ equipment.name }}</a>
      </li>
      {%- endif -%}
  {% endfor %}
</ul>

<h3>Integrated Pest Management</h3>
<ul>
 {%- for ipm in site.data.pest-control -%}
    {%- if ipm.status == "current" -%}
    <li>
      <a href="{{ipm.link}}">{{ ipm.name }}</a>
    </li>
    {%- endif -%}
 {%- endfor -%}