{%- assign seeds = site.data.seeds | group_by: 'breeder' | sort: 'name' -%}
{%- assign sum = 0 -%}
<table>
{% for breeder in seeds %}
    {%- assign breederSum = 0 -%}
    {%- assign breederName = breeder.name -%}
        <thead>
            <th colspan="3">{{ breederName}}</th>
        </thead>
        <tbody>
        <th>Strain</th>
        <th>Grows</th>
        <th>Stock</th>
        {%- assign items = breeder.items | sort: 'stock' | reverse -%}
        {% for seed in items %}
            {% if seed.stock > 0 or seed.grows > 0 %}
                {%- assign stock = seed.stock  -%}        
                {%- assign sum = sum | plus: stock  -%}
                {%- assign breederSum = breederSum | plus: stock  -%}
                <tr>
                {% if seed.link == nil %}
                    <td>{{seed.name}}</td>
                {% else %}
                    <td><a href="{{seed.link}}" target="_blank">{{seed.name}}</a></td>
                {% endif %}
                    <td>{{seed.grows}}</td>
                    <td>{{seed.stock}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr align="right">
            <td colspan="3"><i>{{breederName}} Total:</i> <strong>{{breederSum}}</strong></td>
        </tr>
        </tbody>
{% endfor %}
<tfoot>
    <tr>
        <td colspan="3">Seed Total: {{sum}}</td>
    </tr>
</tfoot>
</table>