// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  }

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--body-color);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: var(--link-color);
  text-decoration: none;
  text-decoration-style: solid;
  text-decoration-color: var(--link-color);
  text-decoration-thickness: auto;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: var(--link-hover-color);
    text-decoration: none;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: var(--spacer);
  border-radius: var(--border-radius);
}

table {
  margin-bottom: var(--spacer-1);
  max-width: 100%;
  border: 1 solid var(--border-color);
  border-collapse: collapse;
  overflow-y: scroll;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: var(--zebra);
}
mark {
  padding: .15rem;
  background-color: var(--yellow-100);
  border-radius: .125rem;
}