/*
 * Markdown Cheats
 * These are for adding color inline to markdown
 *
*/
i {
	&.green {
		color: var(--dark-green);
	}
	&.orange {
		color: var(--orange);
	}
	&.purple {
		color: var(--purple);
	}
}
