#equipmentBox {
	flex-wrap: wrap;
	display: flex;
	margin-bottom: 1rem;
	h1 {
		color: var(--title-color);
		text-shadow: 2px 1px 1px var(--accent-shadow);
	}
}
.techTitlebox {
	width: 100%;
}
.tentBox  {
	display: flex;
	flex-wrap: wrap;
	border: var(--border-color);
	border-style: solid;
	border-radius: var(--border-radius);
	padding-left: var(--spacer);
	padding-right: 5px;
	padding-bottom: var(--spacer);
	margin: 5px;
	box-shadow: 2px 2px 2px var(--accent-shadow);
}
.techBox {
	display: flex;
	width: 100%;
}