
 #markdown-toc::before {
  content: "Contents";
  font-weight: bold;
  font-family: "Chicle";
  font-size: 30px;
}
#markdown-toc > li {
  margin-left: 1.5rem;
}
/* TOC Styling for Desktop Only */
 @media (min-width: 48em) {
  #markdown-toc ul {
      list-style: decimal;
  }

  #markdown-toc {
      padding: 1.5em;
      list-style: decimal;
      position: fixed;
      top: 0;
      right: 2rem;
      color: rgb(49, 49, 49);
      font-family: "Chicle";
      background-color: rgba(255,255,255,.75);
  }

  #markdown-toc > li > a {
    color: darkgreen;
  }
  #markdown-toc > li > ul > li > a {
    color: darkgreen;
  }
  #markdown-toc > li > ul > li {
    list-style: disc;
  }
}