#markdown-toc::before {
  content: "Contents";
  font-weight: bold;
  font-family: var(--heading-font);
  font-size: 30px;
}
#markdown-toc {
  font-family: var(--heading-font);
  list-style: decimal;
}
#markdown-toc > li {
  margin-left: 1.5rem;
}
#markdown-toc > li > a {
  color: var(--title-color);
}
#markdown-toc > li > ul > li > a {
  color: var(--title-color);
}
#markdown-toc > li > ul > li {
  list-style: disc;
}

/* TOC Styling for Desktop Only */
 @media (min-width: 64em) {
  #markdown-toc {
      padding: 1.5em;
      position: fixed;
      top: 0;
      right: 2rem;
      color: var(--gray-800);
      background-color: rgba(255,255,255,.75);
  }
}